<ol>
  <li ng-repeat="machine in machines | filter:{'status':'!Out of service'} | orderBy:'num_runs':'reverse'">
  	{{machine.id}} - {{machine.type}} - {{machine.location_name}} - {{machine.index}} - {{machine.timestamp | date:'h:mm:ss a'}} - {{machine.status}} - {{machine.num_runs}} runs
    <ul ng-if="machine.runs">
  	  <li ng-repeat="item in machine.runs | toArray track by $index">
  	    Run {{$index+1}} - {{item[0] | date:'h:mm:ss a'}} - {{item[1] | date:'h:mm:ss a'}} - 
        {{ (item[1] - item[0])/1000/60 | number:2 }} minutes
  	  </li>
    </ul>
  </li>
</ol>

<!-- <ul>
  <li ng-repeat="s in status | orderBy:'timestamp':'reverse'">
  	{{s.id}} | {{s.timestamp | date:'h:mm:s a'}} - {{s.location_name}} - {{s.index}} - {{s.previous}} => {{s.status}}
  </li>
</ul> -->